<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>
      This is your new temporary password:
    </p>
    <b> <%= @new_password %> </b>
    <br>
    <p>
      We strongly suggest you to change your new password as soon as posible.
    </p>
    <p>Regards!</p>
  </body>
</html>
